*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

h1,h2,h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    color: #FFFFFF;
}

h2{
    font-size: 42px;
    color: #FFFFFF;
}
h4{
    font-size: 20px;
    color: #FFFFFF;
}
h3{
    font-size: 25px;
    color: #FFFFFF;
}
h5{
    font-size: 18px;
    color: #FFFFFF;
}
p{
    font-size: 16px;
    color: #EDEDED;
}
span{
    font-size: 22px;
    color: #000000;
}
img{
    width: 100%;
    background-repeat: no-repeat;
}
.default-button1{
    font-size: 22px;
    color: #000000;
    background-color: #FFE500;
    font-family: 'Roboto', sans-serif;
    padding: 10px 218px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.default-button2{
    font-size: 13px;
    color: #000000;
    background-color: #FFE500;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-weight: 500;
}

ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #EDEDED;
}



/* Header Start */



/* Banner Start */
.banner-area{
    background: url('/assets/images/banner/banner-image1.jpg');
    width: 100%;
    height: 83vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.banner-contents{
    padding-top: 200px;
}
.banner-contents-div h1{
    text-align: center;
    font-size: 65px;
}
.banner-overlay-color{
    background-color: rgba(12, 12, 12, 0.54);
    border-radius: 30px;
    padding: 20px;

}
.banner-overlay-color p{
    font-size: 16px;
    line-height: 26px;
}
.button-div{
    margin-top: 25px;
    margin-bottom: 10px;

}
/* Banner End */
/* Header Ends */



/* Achivement Area Start */
.achivement-area{
    background-color: #2B4C9E;
}
.single-content{
    padding-top: 20px;
    padding-bottom: 10px;
}
.achivement-container{
    width: 95%;
    margin: 0 auto;
    text-align: center;

}
.single-achivement{
    padding: 80px 0;
}
.single-achivement h3{
    color: #1C40B2;
    font-size: 25px;
    font-weight: 700;
}

.single-achivement p{
    color: #000000;
    font-weight: 700;
    margin: 0 0 0 28px;
    font-size: 16px;
}
/* Achivement Area End */


/* Footer Start */
.footer-area{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #001035;
    padding-top: 120px;

  }

  footer h4{
      padding-bottom: 10px;
      font-size: 18px;
  }

  footer a{
      font-size: 14px;
  }

  footer ul li{
    padding-bottom: 5px;
  }

  .footer-logo1{
    padding-top: 10px;
  }

  .footer-tail-contents{
    border-top: 1px dotted #fff;
  }

  .footer-image{

    text-align: center;
    width: 150px;
    height: 50px;
    margin: 20px auto;
  }

  .footer-address-contents{
      line-height: 10px;
  }

 .footer-paragraph1{
     font-size: 13px;
 }

 .footer-paragraph2{
    font-size: 14px;
}

.footer-paragraph3{
    font-size: 13px;
}

  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {

  }
  @media only screen and (max-width: 1139px) {

  }
  @media only screen and (max-width: 950px) {

  }
  @media only screen and (max-width: 500px) {

  }
  @media only screen and (max-width: 340px) {

  }
/* Footer Ends */
